.root {
	font-size: 1rem;
	padding: 0.8rem 1.5rem;
	border-radius: 0.4rem;
	border: 1px solid var(--primary-light);
	color: var(--primary);
	background-color: var(--white);
	transition: 0.2s;
}

.root:hover {
	background-color: var(--hover);
}

.root:active {
	background-color: var(--active);
}
