.headerRoot {
	background-color: #b2f0e3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.messageHeaderStart {
	background-color: #b2f0e3;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.messageHeaderEnd {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	padding: 0.2rem;
	background-color: #fff;
}

.input {
	width: 100%;
	font-size: 1rem;
	border: none;
	outline: none;
}

.textGrey {
	color: #999;
}

.selected {
	border: 2px solid #3f50b5;
}

.messageNodeSettingsRoot {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.messageNodeSettingsText {
	color: #999;
}

.messageNodeSettingsInput {
	border-radius: 0.4rem;
	min-height: 7rem;
	border: 1px solid #dadada;
	padding: 0.8rem;
	font-size: 1rem;
}
