.headerRoot {
	background-color: var(--bg-green);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	font-size: 0.8rem;
}

.messageNodeText {
	font-size: 0.8rem;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.messageHeaderStart {
	background-color: var(--bg-green);
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.messageHeaderStart p {
	font-weight: 600;
}

.messageHeaderEnd {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	padding: 0.1rem;
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
}

.textGrey {
	color: var(--text-muted);
}

.messageNodeSettingsRoot {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.messageNodeSettingsText {
	color: var(--text-muted);
}

.messageNodeSettingsInput {
	border-radius: 0.4rem;
	min-height: 7rem;
	border: 1px solid var(--border-grey);
	padding: 0.8rem;
	font-size: 1rem;
}
