.flowRoot {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.flowContentRoot {
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.saveButtonRoot {
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: flex-end;
	background-color: var(--bg-grey);
}

@media (max-width: 768px) {
	.flowContentRoot {
		grid-template-columns: 1fr;
	}
}
