.root {
	padding: 0.5rem;
	border-radius: 50%;
	background-color: var(--white);
	transition: 0.2s;
	border: none;
}

.root:hover {
	background-color: var(--hover);
}

.root:active {
	background-color: var(--active);
}
