:root {
	--primary: #3f50b5;
	--primary-light: #757ce8;
	--error-light: #fbcdca;

	--white: #fff;
	--bg-grey: #f3f3f3;
	--bg-dark-grey: #555;
	--bg-green: #b2f0e3;
	--border-grey: #dadada;
	--text-muted: #999;
	--hover: rgba(0, 0, 0, 0.05);
	--active: rgba(0, 0, 0, 0.1);
}

* {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	position: relative;
}

#root,
body,
html {
	min-height: 100vh; /* fall-back */
	min-height: -moz-available;
	min-height: -webkit-fill-available;
	min-height: fill-available;
	background-color: var(--white);
	height: 100%;
}
