* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	position: relative;
}

#root,
body,
html {
	min-height: 100vh; /* fall-back */
	min-height: -moz-available;
	min-height: -webkit-fill-available;
	min-height: fill-available;
	background-color: #f1f1f1;
}
